.container-fluid
  .row
  %h1 Trip Goods

  #search-box.container
  = form_tag '/search_goods', :method => :get do
    .row
    = label :trip_good, :city, 'City*'
    = text_field :trip_good, :city, :required=>true, :value=>@city

    .row
    = label :trip_good, :price, 'Price'
    = text_field :trip_good, :price, :value=>@price

    .row
    = label_tag 'Trip Start*' 
    = date_select('trip_good','beginning_date',:use_two_digit_numbers =>true,:required=>true,:default => @start_date, :include_blank=> @start_date.nil?) 

    = label_tag 'Trip End*'
    = date_select('trip_good','end_date',:use_two_digit_numbers =>true,:required=>true,:default => @end_date, :include_blank=> @end_date.nil?)

    .row
    = submit_tag 'Launch Search'

  #search-result.container
  - if @trip_goods == nil || @trip_goods.size == 0
    %h2 No result
  - else
    .container
      .row
        - @trip_goods.each do |e|
          .col-sm-6.col-md-4
            .thumbnail
              %h3 #{e.title}
              %span #{e.price}
              %p #{e.introduction}